* {
  background-color: #0c1219;
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
}

.fogrid {
  display: grid;
  grid-template-columns: 18% 57% 25%;
  max-width: 100vw;
  height: 100vh;
}

.felso {
  display: grid;
  grid-template-columns: 15% 85%;
  padding-top: 10px;
  /* text-align: left; */
  color: white;
  /* align-items: center; */
  padding-left: 10px;
}



.stugi div {
  margin-bottom: 5px;
  text-align: left;
  margin-top: 10px;
}

.also {
  display: grid;
  font-size: 15px;
  margin-left: 5px;
  margin-bottom: 10px;
  padding-left: 10px;

}

.also .mytags {
  font-weight: bold;
  margin-bottom: 18px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 80% 20%;
}

.felso i {
  color: white;
  align-items: center;
  justify-items: center;
  margin-left: 5px;
}

.also i {
  align-items: center;
  justify-items: right;
  color: white;
}

a {
  color: white;
  margin-top: 0px;
  text-justify: center;
  margin-left: 3px;
}

.felso .More {
  color: rgba(255, 255, 255, 0.589);
  margin-bottom: 18px;
  margin: 43px;
}

/* Szlucska */

.felso-dodo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.75rem;
  background-color: #2b2b2c;
  border-radius: 10px 10px 0 0;
}

.felso-dodo div {
  background-color: #2b2b2c;
}

.felso-dodo a {
  background-color: #2b2b2c;

}

.see-all-dodo a {
  text-decoration: none;
  color: dodgerblue;
  font-weight: 600;
}

.see-all-dodo {
  grid-column-start: 4;
  grid-column-end: 4;
  text-align: right;
}

.teljes-dodo {
  background-color: #2b2b2c;
  padding: 0.5px;
  border-radius: 20px;
  margin: 10px;
  max-height: 550px;
  margin-top: 8px;
}

.felso-dodo-grid {
  background-color: #1a1a1a;
  display: grid;
  border-radius: 20px 20px 0 0;
}

.felso-dodo {
  display: grid;
  background-color: #2b2b2c;
  margin-bottom:2px;
  /* border-radius: 10px 10px 0 0; */
}


.szoveg-grid-dodo {
  display: grid;
  gap: 2px;
  background-color: #1a1a1a;
}

.szoveg-dodo p {
  background-color: #2b2b2c;
}
.szoveg-dodo {
  padding: 10px;
  text-align: justify;
  background-color: #2b2b2c;
}

.also-dodo div {
  text-align: center;
  background-color: #2b2b2c;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 15px;
  max-height: 30px;
  border-radius: 0 0 10px 10px;
}


/* viki */

.viki {
  background-color: aqua;
}